@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	display: none;
}

html {
	scroll-behavior: smooth;
}

body {
	background: linear-gradient(to right, #111, #2e1065);
	color: white;
}

/* HOME */

nav ul li:hover {
	color: #00a3ff;
	transition: color 200ms ease;
}

header h1,
header h1 span {
	background-clip: text !important;
	color: transparent;
	user-select: none;
}

header h1 {
	background: linear-gradient(270.2deg, #4912ff 0.16%, #ca1aff 99.82%);
}

header h1 span {
	background: linear-gradient(90deg, #0fffe2 2.18%, #00a3ff 102.24%);
}

/* MENU BTN */

.menu_btn div {
	position: relative;
	width: 30px;
	height: 4px;
	background: white;
	border-radius: 6px;
	transition: all 0.5s ease;
	cursor: pointer;
}
.menu_btn div::before,
.menu_btn div::after {
	content: '';
	position: absolute;
	width: 30px;
	height: 4px;
	background: white;
	border-radius: 6px;
	transition: all 0.5s ease;
}
.menu_btn div::before {
	transform: translateY(-10px);
}
.menu_btn div::after {
	transform: translateY(10px);
}
.menu_btn.open div {
	transform: translateX(-30px);
	background: transparent;
}
.menu_btn.open div::before {
	transform: rotate(45deg) translate(25px, -25px);
}
.menu_btn.open div::after {
	transform: rotate(-45deg) translate(25px, 25px);
}
